*{
	margin: 0;
	padding: 0;
}

#header.container-fluid{
	text-align: center;
}
#in.form-group{
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
}
.med{
	min-width:100px;
}
.ex{
	display:flex;
}
#footer.container-fluid{
	text-align: center;
}
   @media screen and (max-device-width: 600px) {
    .form-group {
		    justify-content: start !important;
	}
   }










.