*{
	margin: 0;
	padding: 0; 
}
.headerr{
	height:20%;
	width:100%;
	text-align: center;
	background: #282830;
	color: white;
	font-size: 30px;
}

.conntennt{
	height: 68%;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
}
.hesh{
	padding-top: 1%;
	padding-bottom: 1%;
}
.pesh{
	padding-top: 1%;
	padding-bottom: 1%;
}

#mytable{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	/* border: 3px solid #282830; */
	margin-right: auto;
	margin-left: auto;
	font-family: 'Merriweather', sans-serif;
	letter-spacing: 2px;
	background-color: #a7aaaf;
	text-align: center;
}
.cell{
	width: 5%;
}
.td{
	text-align: center;
}
#mycanvas{
	background-color: #8e8f91;
}
#chart-conteiner{
	text-align: center;
}
.knop{
	width: 100%;
	display: flex;
	text-align: center;
	background-color: #151519;
	color: white;
	font-family: 'Playfair Display', serif;
	padding-bottom: 0.75%;
}
.left{
	width: 50%;
	display: block;
}
.right{
	width: 50%;
	display: block;
}
.aidi{
	font-style: normal;
	font-size: 20px;
	text-decoration-color: white;
	text-anchor: white 3px;
	padding-top: 1.5%;
	margin-bottom: 0.9%;
}
.inp{
	font-family: 'Merriweather', sans-serif;
	margin-top: 0.75%;
	background-color: #bcc8db;
	border: none;
	color: #10151c;
	padding: 15px 32px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	font-size: 26px;
	/*border-radius: 12px;*/
}
.pole{
	/*border-radius: 12px;*/
	border: none;
}
.footerr{
	margin-top: 0%;
	height:12%;
	position: absolute;
  	left: 0;
  	width: 100%;
  	background-color: #151519;
  	color: white;
  	text-align: center;
	display: block;
}